[Desktop Entry]
Version=1.0
Type=Application

Name=Lachesis
Comment=Moirai supervisor
Categories=Science;Development;

Icon=me.acristoffers.Lachesis
Exec=lachesis
Terminal=false
StartupWMClass=lachesis
